
<table style="width: 100%; border: 1px solid black; text-align: center;">
    <tr>
        <th>Leído</th>
        <th>Emisor</th>
        <th>Titulo</th>
        <th>Responder</th>
    </tr>
    <ng-container *ngFor="let correo of correos; index as i;">
    <tr>
        <td>
            <input type="radio" name="leido-{{i}}" [(ngModel)]="correo.leido" [value]=true disabled> Si
            <input type="radio" name="leido-{{i}}" [(ngModel)]="correo.leido" [value]=false disabled> No            <div *ngIf="correo.leido">Si</div> 
            
        </td>
        <td>{{correo.emisor}}</td>
        <td>{{correo.titulo}}</td>
        <td>
            <button (click)="clickResponder(correo)">Responder</button>
        </td>
    </tr>
        <tr *ngIf="responder">
            <app-nuevo-correo [correo]="correoAResponder"></app-nuevo-correo>
        </tr>
    
    </ng-container>
    
</table>

<!-- Primero, realizaremos una prueba fuera -->
<!--le pasamos la variable correo, definida con @input en el hijo para saber qué es lo que le va a llegar-->
<!--app-nuevo-correo *ngIf="responder" [correo]="correoAResponder"></!--app-nuevo-correo>-->
